/* About.css */
.about-section {
  padding: 50px 20px;
  background-color: rgba(55, 126, 184, 0.2); /* Light background color */
  color: white;
  display: block; /* Make sure it's set to display */
  opacity: 1; /* Ensure it's visible */
}

.about-section h2 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.about-section p {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 20px;
}
