/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  background: linear-gradient(90deg, #07233b 1.67%, #041d34 39.95%, #04192d 58.24%, #040e18 80.28%, #050c16 101.48%);
  color: white;
  height: 100vh;
  text-transform: uppercase; /* Make all text uppercase */
}

.Home {
  width: 100%;
  height: 100%;
  padding-top: 100px; /* Added padding to ensure content isn't hidden under fixed header */
}

/* Navbar */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000; /* Ensures the header stays on top */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth background color and shadow transition */
}

/* Add background color and shadow to the header when scrolled */
.header.scrolled {
  background-color: #040c16;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 40px;
  font-weight: bold;
  padding-left: 2.5%;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); /* Black shadow */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding-right: 7%;
}

.nav-links li {
  font-size: 21px;
  font-family: 'Space Grotesk', sans-serif;
  padding: 8px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Black shadow */
}

.nav-links li:hover {
  scale: 1.4;
  transition: all 0.5s;
}

.nav-links li a::after {
  content: '';
  width: 100%;
  height: 2px;
  display: inline-block;
  background-color: #007bff;
  transform: scaleX(0);
  transition: all 0.5s;
}

.nav-links li a:hover::after {
  transform: scaleX(1);
}

/* Intro Section */
.intro-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76vh; /* Makes the intro section full screen */
  margin: 0;
}

.left-side {
  max-width: 50%;
  padding-left: 5%;
}

.left-side h1 {
  font-size: 50px;
  margin-bottom: 0px;
}

.left-side h2 {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 5px;
}

.left-side p {
  font-size: 17px;
  font-weight: 400;
}

.right-side {
  max-width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1.5s ease-in-out;
  padding-right: 10%;
}

.right-side img {
  width: 400px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.5s, box-shadow 0.5s;
  margin-top: 18.7%;
}

/* Typing effect */
.typing-effect {
  color: #0788ff; /* Updated to blue color for Developer/Designer */
  font-weight: bold;
  display: inline-block;
  border-right: 2px solid white;
  animation: typing 2s steps(12, end), blink 0.5s step-end infinite;
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 12ch; /* Adjust this to the length of the text */
  }
}

@keyframes blink {
  from, to {
      border-color: transparent;
  }
  50% {
      border-color: white;
  }
}

/* View Resume Button */
.view-resume-btn {
  background-color: #28a745;
  color: white;
  font-size: 12px;
  padding: 6px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.view-resume-btn:hover {
  background-color: #218838;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* Get in Touch Section */
.get-in-touch {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.get-in-touch-btn {
  padding: 13px 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    border: 2px solid var(--px-theme);
    background-color: var(--px-theme);
    color: var(--px-white);
    text-decoration: none;
    transition: ease all .35s;
    font-weight: 500;
    outline: none;
    box-shadow: none;
    text-transform: uppercase;
}

.get-in-touch-btn:hover {
  background-color: black;
}

.social-icons a {
  color: white;
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}
